/* DOCUMENTO CSS */                                                                                       
/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #be9e44;
    background-color: #fff;
    font-family: revert;
    font-size: 16px;
}
header {
    height: 80px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #be9e44;
}
nav {
    width: 700px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li {
    display: inline;
    list-style: none;
}
nav ul li a {
    padding: 0 30px;
    font-size: 24px;
    text-decoration: none;
    color: #be9e44;
    font-weight: 600;
}
nav ul li a:hover{
    text-decoration: underline;
}
/*
SEÇÃO LOGOTIPO
*/
#logotipo {
    height: 680px;
    background-color: #000;
    padding: 30px;
   
}
#logotipo #logo_linha1 {
    height: 310px;
    border-bottom: 2px solid #be9e44;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#logotipo #logo_linha1 figure {
    height: 280px;
    width: 280px;
    margin-top: 10px;
    margin-left: 50px;
   
}
#logotipo #logo_linha1 article {
    width: 900px;
}
#logotipo #logo_linha1 article h3 {
   font-size: 22px;
    margin-bottom: 40px;
}
#logotipo #logo_linha2 {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #be9e44;
}
#logotipo #logo_linha2 figure {
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/*
SEÇÃO CORES
 */
#cores {
    height: 500px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    border-bottom: 2px solid #be9e44;
}
#cores #circulo_cores {
    width: 600px;
    height: 450px;
    border: 1px solid #a3a3a3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}
#cores #circulo_cores .circulo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 10px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px ;
    font-weight: 900;
}
#cores article{
    width: 600px;
    height: 450px;
    font-size: 25px;
}
#cores article h3 {
    margin-bottom: 20px;
    font-size: 35px;
}
#cores_inspiracao{
    margin-top: 80px;
}
/*
SEÇÃO FONTES
*/
#fontes {
    height: 300px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #be9e44;
}
#fontes .fontes_box {
    width: 280px;
    height: 280px;
    margin: 10px;
    background-color: #000;
}
#fontes article {
    width: 800px;
}
/*
SEÇÃO APLICABILIDADES
*/
#aplicabilidade {
    text-align: center;
    height: 590px;
    background-color: #000;
    border-bottom: 2px solid #be9e44;
}
#aplicabilidade #grid_fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#aplicabilidade #grid_fotos figure {
    width:368px;
    height: 250px;
    margin: 10px;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #a8a8a8;
}
footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-bottom: 2px solid #be9e44;
}
footer figure {
    width: 90px;
    height: 90px;
    background-color: #c1ca5e;

}
footer h2 {
    font-size: 25px;
    margin-left: 400px;
}
